---
import DockerIcon from "../icons/DockerIcon.astro"
---
<div
  class="flex items-center gap-1.5 py-0.5 px-2 bg-stone-500/40 transition duration-200 ease-in-out hover:bg-stone-500/50  border border-stone-800 rounded-xl"
>
  <DockerIcon width="23" height="23" />
  <span>Docker</span>
</div>
