---
import PythonIcon from "../icons/PythonIcon.astro";
---

<div
  class="flex items-center gap-1.5 py-0.5 px-2 bg-yellow-300/10 transition duration-200 ease-in-out hover:bg-yellow-300/20 border border-stone-800 rounded-xl"
>
  <PythonIcon width="23" height="23" />
  <span>Python</span>
</div>
