---
import ReactIcon from "../icons/ReactIcon.astro";
---

<div
  class="flex items-center py-0.5 px-1.5 border border-stone-800 bg-blue-600/20"
>
  <ReactIcon width="25" height="25" /><span>React</span>
</div>
