---
import ReactIcon from "../icons/ReactIcon.astro";
---

<div
    class="flex items-center gap-1.5 py-0.5 px-2 bg-stone-500/30 transition duration-200 ease-in-out hover:bg-stone-500/40 border border-stone-800 rounded-xl"
>
  <ReactIcon width="25" height="25" /><span>React</span>
</div>
