---
import ReactIcon from "../icons/ReactIcon.astro";
---

<div
    class="flex items-center rounded-xl gap-1.5 py-0.5 px-2 bg-yellow-300/10 transition duration-200 ease-in-out hover:bg-yellow-300/20 border border-stone-800 rounded-xl"
>
  <ReactIcon width="25" height="25" /><span>React</span>
</div>
