---
import SqliteIcon from "../icons/SqliteIcon.astro";
---

<div
  class="flex items-center py-0.5 px-1.5 bg-stone-500/30 transition duration-200 ease-in-out hover:bg-stone-500/40 rounded-xl border border-stone-800"
>
  <SqliteIcon width="24" height="24" /><span>Sqlite</span>
</div>
