@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@theme {
  --animate-color: colorChange 5s infinite ease-in-out alternate;
  --animate-text-color: textColorChange 5s infinite ease-in-out alternate;
  --color-background: #050401;
  --color-primary: #bbb;
  --color-accent: #b2f2bb;
  --color-navbar: rgba(5, 4, 1, 0.486);
  --color-secondary: #303036;
  --color-text-primary: hsl(0deg 0% 100% / 44%);
  --font-body: "quicksand", sans-serif;
  --breakpoint-custom: 1440px;
}

@keyframes colorChange {
  0% {
    background-color: #000b58;
  }
  25% {
    background-color: #003161;
  }
  50% {
    background-color: #006a67;
  }
  100% {
    background-color: #fff4b7;
  }
}

@keyframes textColorChange {
  0% {
    color: #ffffff;
  }
  25% {
    color: #ffffffcb;
  }
  50% {
    color: #0c0c0c;
  }
  100% {
    color: #000000;
  }
}
