@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@theme {
  --color-background: #050401;
  --color-background-nav: #050401e7;
  --color-primary: #bbb;
  --color-accent: #b2f2bb;
  --color-secondary: #303036;
  --color-text-primary: hsl(0deg 0% 100% / 44%);
  --font-body: "quicksand", sans-serif;
  --breakpoint-custom: 1440px;
}
