@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@theme {
  --animate-background: colorChange 3s infinite ease-in-out alternate;
  --animate-text: textColorChange 3s infinite ease-in-out alternate;
  --color-primary: #bbb;
  --color-accent: #ff9f34;
  --color-navbar: rgba(5, 4, 1, 0.486);
  --color-secondary: #303036;
  --color-text-primary: hsl(0deg 0% 100% / 44%);
  --font-body: "quicksand", sans-serif;
  --breakpoint-custom: 1440px;
}

@keyframes colorChange {
  0% {
    background-color: #0d00ff; /* electric blue */
  }
  25% {
    background-color: #00e0ff; /* cyan pop */
  }
  50% {
    background-color: #00ff85; /* neon green */
  }
  100% {
    background-color: #fff200; /* bright yellow */
  }
}

@keyframes textColorChange {
  0% {
    color: #ffffff; /* white */
  }
  25% {
    color: #000000; /* black */
  }
  50% {
    color: #000000; /* black */
  }
  100% {
    color: #1a1a1a; /* dark gray for yellow bg */
  }
}
