<section
    class="container px-4 flex flex-col items-center min-w-2xs sm:min-w-96 lg:min-w-3xl"
>
    <h2 class="font-bold text-2xl self-start">Me</h2>
    <div class="w-[90%] mt-2 p-1 outline outline-stone-800 rounded-xl">
        <p class="px-2 py-4 leading-7">
            <slot />
        </p>
    </div>
</section>
