---

---

<footer id="contact" class="flex flex-col px-4 mt-20 pb-5 font-bold">
  <span>Sebastián Figueroa - <span id="current-year"></span></span>
</footer>

<script>
  const yearElement = document.getElementById("current-year");
  if (yearElement) {
    yearElement.textContent = new Date().getFullYear().toString();
  }
</script>
