---
const { imgAlt, name } = Astro.props;
import { Image } from "astro:assets";
import me from "../assets/me.webp";
import Links from "./Links.astro";
import { getLangFromURl, useTranslations } from "../i18n/utils";
import NextIcon from "./icons/NextIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import PythonIcon from "./icons/PythonIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
const lang = getLangFromURl(Astro.url);
const t = useTranslations(lang);
---

<section id="home" class="flex justify-center px-2 sm:px-4 pb-5 pt-28">
  <article
    class="bg-[url(/src/assets/background.webp)] w-full md:px-4 lg:w-[90%] px-2 py-5 lg:py-14 bg-cover bg-no-repeat rounded-lg"
  >
    <header class="flex flex-col items-center md:flex-row gap-5">
      <Image
        class="w-46 h-46 rounded-full object-cover"
        src={me}
        alt={imgAlt}
      />
      <div class="flex flex-col justify-center md:w-[60%]">
        <div class="flex flex-col justify-center gap-2 mb-6">
          <h2
            class="font-mono font-bold text-2xl text-center text-transparent bg-gradient-to-t from-stone-700 to-stone-500 bg-clip-text"
          >
            Full-Stack Developer
          </h2>
          <h1
            class="name text-transparent text-4xl font-extrabold bg-gradient-to-t from-stone-950 to-stone-700 bg-clip-text text-center"
          >
            {name}
          </h1>
          <Links resume={t("resume")} resumeFile={t("resume-file")} />
        </div>
        <section class="skills flex gap-3 justify-center">
          <ReactIcon width="50" height="50" />
          <TailwindIcon width="50" height="50" />
          <PythonIcon width="50" height="50" />
        </section>
      </div>
    </header>
  </article>
</section>
