---
import { getLangFromURl, useTranslations } from "../i18n/utils";
import HomeIcon from "./icons/HomeIcon.astro";
import ProjectIcon from "./icons/ProjectIcon.astro";
import ContactIcon from "./icons/ContactIcon.astro";
const lang = getLangFromURl(Astro.url);
const t = useTranslations(lang);
---

<header
  class="header bg-navbar backdrop-blur-md fixed z-30 py-6 px-8 lg:px-10 max-w-3xl rounded-b-xl left-1/2 -translate-x-1/2"
>
  <nav
    class="flex justify-between items-center w-full gap-12 sm:gap-14 lg:gap-9"
  >
    <a
      class="group/link1 font-semibold hover:text-text transition-colors duration-150 ease-in-out"
      href="#home"
      aria-label={t("homeLabel")}
    >
      <HomeIcon />
    </a>
    <a
      class="group/link2 font-semibold hover:text-text transition-colors duration-150 ease-in-out"
      href="#projects"
      aria-label={t("projectsLabel")}
    >
      <ProjectIcon />
    </a>
    <a
      class="group/link3 font-semibold hover:text-text transition-colors duration-150 ease-in-out"
      href="#contact"
      aria-label={t("contactLabel")}
    >
      <ContactIcon />
    </a>
  </nav>
</header>
