---
const { imgAlt, name } = Astro.props;
import { Image } from "astro:assets";
import me from "../assets/me.webp";
---

<section id="home" class="px-5 pb-5 pt-24">
  <div
    class="bg-[url(/src/assets/background.webp)] w-full lg:w-[90%] px-5 py-5 bg-cover bg-no-repeat rounded-lg"
  >
    <div class="flex flex-col items-center md:flex-row gap-5">
      <Image
        class="w-46 h-46 rounded-full object-cover"
        src={me}
        alt={imgAlt}
      />
      <div class="flex flex-col justify-center w-[60%]">
        <div class="flex flex-col justify-center gap-3 mb-6">
          <h2
            class="font-mono font-bold text-2xl text-center text-transparent bg-gradient-to-t from-stone-950 to-stone-700 bg-clip-text"
          >
            Full-Stack Developer
          </h2>
          <h1
            class="name text-transparent text-4xl font-extrabold bg-gradient-to-r from-stone-600 to-slate-900 bg-clip-text text-center"
          >
            {name}
          </h1>
        </div>
        <div class="skills flex gap-3 w-full justify-center">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="50"
              height="50"
              viewBox="0 0 48 48"
            >
              <path
                fill="#212121"
                d="M18.974,31.5c0,0.828-0.671,1.5-1.5,1.5s-1.5-0.672-1.5-1.5v-14c0-0.653,0.423-1.231,1.045-1.43 c0.625-0.198,1.302,0.03,1.679,0.563l16.777,23.704C40.617,36.709,44,30.735,44,24c0-11-9-20-20-20S4,13,4,24s9,20,20,20 c3.192,0,6.206-0.777,8.89-2.122L18.974,22.216V31.5z M28.974,16.5c0-0.828,0.671-1.5,1.5-1.5s1.5,0.672,1.5,1.5v13.84l-3-4.227 V16.5z"
              ></path>
            </svg>
          </div>
          <div>
            <svg
              fill="#212121"
              width="50px"
              height="50px"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve"
              ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12 6.036c-2.667 0-4.333 1.325-5 3.976 1-1.325 2.167-1.822 3.5-1.491.761.189 1.305.738 1.906 1.345C13.387 10.855 14.522 12 17 12c2.667 0 4.333-1.325 5-3.976-1 1.325-2.166 1.822-3.5 1.491-.761-.189-1.305-.738-1.907-1.345-.98-.99-2.114-2.134-4.593-2.134zM7 12c-2.667 0-4.333 1.325-5 3.976 1-1.326 2.167-1.822 3.5-1.491.761.189 1.305.738 1.907 1.345.98.989 2.115 2.134 4.594 2.134 2.667 0 4.333-1.325 5-3.976-1 1.325-2.167 1.822-3.5 1.491-.761-.189-1.305-.738-1.906-1.345C10.613 13.145 9.478 12 7 12z"
              ></path></svg
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
