---
import { getLangFromURl, useTranslations } from "../i18n/utils";
import Project from "./Project.astro";
import NextIcon from "./NextIcon.astro";
import TailwindIcon from "./TailwindIcon.astro";
import pBackground1 from "../assets/pBackground1.webp";
import pBackground2 from "../assets/pBackground2.webp";
import pBackground3 from "../assets/pBackground3.webp";
const { projectsTitle, view } = Astro.props;
const lang = getLangFromURl(Astro.url);
const t = useTranslations(lang);
---

<section id="projects" class="pt-20 px-2 sm:px-4">
  <h2 class="font-bold text-2xl">{projectsTitle}</h2>
  <ul class="flex justify-center text-background">
    <li>
      <Project
        projectLink="https://uptaeb-website.vercel.app"
        projectTitle="Uptaeb Website"
        view={t("view")}
        backgroundImage={pBackground1.src}
        projectDescription={t("projectDescription1")}
      >
        <NextIcon /></Project
      >
      <Project
        projectLink="https://infinix-blog.vercel.app"
        projectTitle="Infinix Blog"
        view={t("view")}
        backgroundImage={pBackground2.src}
        projectDescription={t("projectDescription2")}
      >
        <NextIcon />
      </Project>
      <Project
        projectLink="https://person-i-saw.vercel.app"
        projectTitle="Person I Saw"
        view={t("view")}
        backgroundImage={pBackground3.src}
        projectDescription={t("projectDescription3")}
      >
        <NextIcon /><TailwindIcon /></Project
      >
    </li>
  </ul>
</section>
