---
import "../styles/global.css";
import "@fontsource/quicksand";
const { currentLocale } = Astro.props;
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Sebastian Figueroa's Portfolio" />
    <title>Portfolio</title>
  </head>
  <body class="font-body m-0 w-full h-full bg-stone-950 text-teal-50">
    <main class="max-w-3xl mx-auto">
      <slot />
    </main>
  </body>
</html>
