---
import "../styles/global.css";
import "@fontsource/quicksand";
const { currentLocale } = Astro;
console.log(currentLocale);
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Sebastian Figueroa's Portfolio" />
    <title>Portfolio</title>
  </head>
  <body class="font-body m-0 w-full h-full text-teal-50">
    <div class="grid place-items-center w-full bg-background">
      <!-- Change min-w to max-w -->
      <main
        class="md:border-l md:border-r md:border-stone-50 max-w-3xl mx-auto"
      >
        <slot />
      </main>
    </div>
  </body>
</html>
